<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>Posts</title>
  <link rel='stylesheet' href='styles.css'>
</head>
<body>
  <h1>All posts</h1>

  <ul class='post'>
  <% for(var i=0; i < products.length; i++) {%>
    <li class='post'>
      <span><%= posts[i].title %></span>
      <span><%= products[i].body %></span>
    </li>
  <% } %>
  </ul>
<br />
</body>
</html>
